body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(#0D0D0D, #0e002d);
    font-family: Arial, Helvetica, sans-serif;
}

/* CARD */
.quadrado{
    width: 600px;
    height: 650px;
    background-color: rgba(85, 85, 85, 0.3);
    border-radius: 15px;
    padding: 40px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column; /* empilha tudo */
    align-items: flex-start; /* alinha à esquerda */
}

/* TÍTULO */
#texto{
    align-self: center; /* centraliza só o título */
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 80px;
}

/* INPUTS */
#login1,
#senha{
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    background-image: linear-gradient(#ffffff, #4a4a4a);
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    color: #ffffff;
    font-size: 16px;
}

#login1::placeholder,
#senha::placeholder{
    color: #ffffff;
    opacity: 0.7;
}

#login1:focus,
#senha:focus{
    outline: none;
    box-shadow: 0 0 8px #ffffff;
}

/* BOTÃO */
#entrar{
    font-size: large;
    font-weight: 700;
    width: 200px;
    height: 45px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    background-image: linear-gradient(#ffffff, #000000);
}
#git{
    position: absolute;
    margin-left: 110px;
    margin-top: 550px;
    width: 90px;
    height: 30px;
    background-color: transparent;
    opacity: 1;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
    font-weight: 700;
    border-radius: 6px;
}
#insta{
    position: absolute;
    margin-left: 210px;
    margin-top: 550px;
    width: 90px;
    height: 30px;
    background-color: transparent;
    opacity: 1;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
    font-weight: 700;
    border-radius: 6px;
}
#zap{
    position: absolute;
    margin-left: 310px;
    margin-top: 550px;
    width: 90px;
    height: 30px;
    background-color: transparent;
    opacity: 1;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
    font-weight: 700;
    border-radius: 6px;
}
/* LINGUAGEM */
#letreiro{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    text-shadow: 0 0 5px #ffffff;
}

#hora{
    position: absolute;
    left: 20px;
    top: 6px;
    right: 20px;
    color: white;
}
